body {
    display: grid;
    place-items: center;
    gap: 1rem;
    margin: 2rem;
    font-family: 'Arial', sans-serif;
    background: ghostwhite;
}

header {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    h1, h2, p {
        margin: 0;
    }

    a {
        text-decoration: none;
        color: #000;
        font-weight: bold;
    }

    a:hover {
        text-decoration: underline;
    }
}

main {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

footer {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.button-section {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    button {
        padding: 10px 20px;
        font-weight: bold;
        background: dodgerblue;
        color: #fff;
        cursor: pointer;
        border-radius: .5rem;
        border: none;
        transition: background 0.5s, scale 0.5s, box-shadow 0.5s;
    }

    button:hover {
        border: none;
        background: dodgerblue;
        scale: 1.05;
        transition: background 0.5s, scale 0.5s, box-shadow 0.5s;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    }
}

#connect4 {
    background: dodgerblue;
    border-radius: 25px;
    margin: 20px;
    width: auto;
    height: auto;
    padding: 25px;
}

.col {
    width: 70px;
    height: 70px;
    display: inline-block;
    background-color: ghostwhite;
    margin: 6px;
    border-radius: 50%;
}

.col.empty {
    cursor: pointer;
}

.next-red {
    background-color: rgba(255, 0, 0, 0.5);
}

.next-yellow {
    background-color: rgba(255, 255, 0, 0.5);
}

.col.red {
    background: red;
}

.col.yellow {
    background: yellow;
}
