main {

    max-width: 900px;
    margin: auto;
    text-align: center;
    font-family: helvetica, arial, sans-serif;

}

button {


    background: dodgerblue;
    color: #fff;
    cursor: pointer;
    transition: background 0.5s, scale 0.5s;
}

button:hover {

    background: dodgerblue;
    scale: 1.05;
    transition: background 0.5s, scale 0.5s;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

#connect4 {

    background: dodgerblue;
    border-radius: 25px;
    margin: 20px;
    width: auto;
    height: auto;
    padding: 25px;

}

.col {

    width: 70px;
    height: 70px;
    display: inline-block;
    background-color: white;
    margin: 6px;
    border-radius: 50%;

}

.col.empty {
    cursor: pointer;
}

.next-red {

    background-color: rgba(255, 0, 0, 0.5);

}

.next-yellow {

    background-color: rgba(255, 255, 0, 0.5);

}

.col.red {

    background: red;

}

.col.yellow {

    background: yellow;

}



